/*| BOOT-01 | Algemene opmaak | Gebruik de wildcard selector om de witruimte binnen &
 buiten elk element op 0 te zetten. Geef het body element een breedte van 1000px en zorg dat de
 witruimte buiten het element links en rechts automatisch berekend wordt. */
* {
    margin: 0;
    padding: 0;
    background-color: rgb(121,119,131);
}

header {
    height: 400px;
    background-image: url('assets/chuck.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

/*NAV-01	Navigatie	Maak een navigatie structuur element, met achtergrondkleur #050505, met
daarin een ongeordende lijst met 2 items. Probeer deze naast elkaar en horizontaal gecentreerd te
plaatsen. Tip: CSS Flexbox*/

nav ul {
    list-style: none;
    display: flex;
    gap: 0px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}
/*LINK-01	Hyperlinks	Plaats binnen elk item van de navigatielijst
een dummy link. Geef deze een tekstkleur #fb9c08 en zorg dat deze niet onderlijnd worden.
Wijzig de achtergrondkleur van de hyperlink wanneer de gebruiker hier met
 de muis over beweegt. Gebruik de achtergrondkleur #fb9c08 en maak ook de tekstkleur wit.*/

nav a {
    color: #fb9c08;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #fb9c08;
    color: white;
    border-radius: 4px;
}



body {
    width: 1000px;
    margin: 0 auto;
}
/*Voeg je 5 beste Chuck Norris grapjes toe door gebruik te maken van een geordende lijst.
          Alle tekst in de main heeft een witte kleur en de achtergrond is rgb(121,119,131)*/

ol{
    color: white;
    background-color: rgb(121,119,131);
    text-align: left;
    padding: 0;
}

ol li::before {
    content: "(" counter(item) ") ";
    vertical-align: middle;
    color: white;
    type="I"
}


